der/DemandSideResourceInterface/CommodityPriceExchange/1.0/CommodityPriceExchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://cim-profile.ucaiug.io/der/DemandSideResourceInterface/CommodityPriceExchange#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://cim-profile.ucaiug.io/der/DemandSideResourceInterface/CommodityPriceExchange#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">
	Copyright 2023 UCAIug

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	https://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	
	See the License for the specific language governing permissions and
	limitations under the License.
</xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:documentation>V1: 2023 Initial Creation</xs:documentation>
   </xs:annotation>
   <xs:element name="CommodityPriceExchange" type="m:CommodityPriceExchange"/>
   <xs:complexType name="CommodityPriceExchange">
      <xs:sequence>
         <xs:element name="CommodityDefinition"
                     type="m:CommodityDefinition"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CommodityDefinition"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition">
      <xs:annotation>
         <xs:documentation>Commodities in the context of IEC62325 are MarketProducts (energy, regulation, reserve, etc) traded at a specific location, which in this case is a Pnode (either a specific pricing node or a pricing area or zone defined as a collection of pricing nodes).  The CommodityDefinition is a container for these two parameters, plus the unit of measure and the currency in which the Commodity is traded.  Each CommodityDefinition should be relatively static; defined once and rarely changed.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="commodityCurrency"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:Currency"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.commodityCurrency">
                  <xs:annotation>
                     <xs:documentation>The currency in which the Commodity is traded, using the standard conventions associated with the Currency enumeration.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="commodityUnit"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:UnitSymbol"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.commodityUnit">
                  <xs:annotation>
                     <xs:documentation>The unit of measure in which the Commodity is traded, using the standard conventions associated with the UnitSymbol enumeration.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="commodityUnitMultiplier"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:UnitMultiplier"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.commodityUnitMultiplier">
                  <xs:annotation>
                     <xs:documentation>The unit multiplier, e.g. "k" to convert the unit "W-h" to "kW-h", using the standard conventions associated with the UnitMultiplier enumeration.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CommodityPrice"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           type="m:CommodityPrice"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.CommodityPrice">
                  <xs:annotation/>
               </xs:element>
               <xs:element name="MarketProduct"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:MarketProduct"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.MarketProduct">
                  <xs:annotation/>
               </xs:element>
               <xs:element name="Pnode"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:Pnode"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.Pnode">
                  <xs:annotation/>
               </xs:element>
               <xs:element name="RegisteredResource"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:RegisteredResource"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityDefinition.RegisteredResource">
                  <xs:annotation/>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CommodityPrice"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityPrice">
      <xs:annotation>
         <xs:documentation>The CommodityPrice class is used to define the price of a commodity during a given time interval.  The interval may be long, e.g. a year, or very short, e.g. 5 minutes.  There will be many instances of the CommodityPrice class for each instance of the CommodityDefinition to which it is associated.  Note that there may be more than once price associated with a given interval and these variances are described by the association (or associations) with the PriceDescriptor class.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityPrice.value">
            <xs:annotation>
               <xs:documentation>The price of the Commodity, expressed as a floating point value with the currency and unit of measure defined in the associated CommodityDefinition class.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PriceDescriptor"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:PriceDescriptor"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityPrice.PriceDescriptor">
            <xs:annotation/>
         </xs:element>
         <xs:element name="timeIntervalPeriod"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:DateTimeInterval"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#CommodityPrice.timeIntervalPeriod">
            <xs:annotation>
               <xs:documentation>The time interval over which the CommodityPrice is valid, using the standard conventions associated with the DateTimeInterval class.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="Currency"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#Currency">
      <xs:annotation>
         <xs:documentation>Monetary currencies.  ISO 4217 standard including 3-character currency code.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="AED">
            <xs:annotation>
               <xs:documentation>United Arab Emirates dirham.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AFN">
            <xs:annotation>
               <xs:documentation>Afghan afghani.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ALL">
            <xs:annotation>
               <xs:documentation>Albanian lek.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AMD">
            <xs:annotation>
               <xs:documentation>Armenian dram.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ANG">
            <xs:annotation>
               <xs:documentation>Netherlands Antillean guilder.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AOA">
            <xs:annotation>
               <xs:documentation>Angolan kwanza.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ARS">
            <xs:annotation>
               <xs:documentation>Argentine peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AUD">
            <xs:annotation>
               <xs:documentation>Australian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AWG">
            <xs:annotation>
               <xs:documentation>Aruban florin.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AZN">
            <xs:annotation>
               <xs:documentation>Azerbaijani manat.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BAM">
            <xs:annotation>
               <xs:documentation>Bosnia and Herzegovina convertible mark.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BBD">
            <xs:annotation>
               <xs:documentation>Barbados dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BDT">
            <xs:annotation>
               <xs:documentation>Bangladeshi taka.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BGN">
            <xs:annotation>
               <xs:documentation>Bulgarian lev.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BHD">
            <xs:annotation>
               <xs:documentation>Bahraini dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BIF">
            <xs:annotation>
               <xs:documentation>Burundian franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BMD">
            <xs:annotation>
               <xs:documentation>Bermudian dollar (customarily known as Bermuda dollar).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BND">
            <xs:annotation>
               <xs:documentation>Brunei dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BOB">
            <xs:annotation>
               <xs:documentation>Boliviano.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BOV">
            <xs:annotation>
               <xs:documentation>Bolivian Mvdol (funds code).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BRL">
            <xs:annotation>
               <xs:documentation>Brazilian real.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BSD">
            <xs:annotation>
               <xs:documentation>Bahamian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BTN">
            <xs:annotation>
               <xs:documentation>Bhutanese ngultrum.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BWP">
            <xs:annotation>
               <xs:documentation>Botswana pula.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BYR">
            <xs:annotation>
               <xs:documentation>Belarusian ruble.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BZD">
            <xs:annotation>
               <xs:documentation>Belize dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CAD">
            <xs:annotation>
               <xs:documentation>Canadian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CDF">
            <xs:annotation>
               <xs:documentation>Congolese franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CHF">
            <xs:annotation>
               <xs:documentation>Swiss franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CLF">
            <xs:annotation>
               <xs:documentation>Unidad de Fomento (funds code), Chile.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CLP">
            <xs:annotation>
               <xs:documentation>Chilean peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CNY">
            <xs:annotation>
               <xs:documentation>Chinese yuan.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="COP">
            <xs:annotation>
               <xs:documentation>Colombian peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="COU">
            <xs:annotation>
               <xs:documentation>Unidad de Valor Real.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CRC">
            <xs:annotation>
               <xs:documentation>Costa Rican colon.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CUC">
            <xs:annotation>
               <xs:documentation>Cuban convertible peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CUP">
            <xs:annotation>
               <xs:documentation>Cuban peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CVE">
            <xs:annotation>
               <xs:documentation>Cape Verde escudo.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CZK">
            <xs:annotation>
               <xs:documentation>Czech koruna.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DJF">
            <xs:annotation>
               <xs:documentation>Djiboutian franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DKK">
            <xs:annotation>
               <xs:documentation>Danish krone.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DOP">
            <xs:annotation>
               <xs:documentation>Dominican peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DZD">
            <xs:annotation>
               <xs:documentation>Algerian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EEK">
            <xs:annotation>
               <xs:documentation>Estonian kroon.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EGP">
            <xs:annotation>
               <xs:documentation>Egyptian pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ERN">
            <xs:annotation>
               <xs:documentation>Eritrean nakfa.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ETB">
            <xs:annotation>
               <xs:documentation>Ethiopian birr.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EUR">
            <xs:annotation>
               <xs:documentation>Euro.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="FJD">
            <xs:annotation>
               <xs:documentation>Fiji dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="FKP">
            <xs:annotation>
               <xs:documentation>Falkland Islands pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GBP">
            <xs:annotation>
               <xs:documentation>Pound sterling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GEL">
            <xs:annotation>
               <xs:documentation>Georgian lari.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GHS">
            <xs:annotation>
               <xs:documentation>Ghanaian cedi.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GIP">
            <xs:annotation>
               <xs:documentation>Gibraltar pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GMD">
            <xs:annotation>
               <xs:documentation>Gambian dalasi.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GNF">
            <xs:annotation>
               <xs:documentation>Guinean franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GTQ">
            <xs:annotation>
               <xs:documentation>Guatemalan quetzal.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GYD">
            <xs:annotation>
               <xs:documentation>Guyanese dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HKD">
            <xs:annotation>
               <xs:documentation>Hong Kong dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HNL">
            <xs:annotation>
               <xs:documentation>Honduran lempira.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HRK">
            <xs:annotation>
               <xs:documentation>Croatian kuna.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HTG">
            <xs:annotation>
               <xs:documentation>Haitian gourde.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HUF">
            <xs:annotation>
               <xs:documentation>Hungarian forint.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IDR">
            <xs:annotation>
               <xs:documentation>Indonesian rupiah.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ILS">
            <xs:annotation>
               <xs:documentation>Israeli new sheqel.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="INR">
            <xs:annotation>
               <xs:documentation>Indian rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IQD">
            <xs:annotation>
               <xs:documentation>Iraqi dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IRR">
            <xs:annotation>
               <xs:documentation>Iranian rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ISK">
            <xs:annotation>
               <xs:documentation>Icelandic króna.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="JMD">
            <xs:annotation>
               <xs:documentation>Jamaican dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="JOD">
            <xs:annotation>
               <xs:documentation>Jordanian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="JPY">
            <xs:annotation>
               <xs:documentation>Japanese yen.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KES">
            <xs:annotation>
               <xs:documentation>Kenyan shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KGS">
            <xs:annotation>
               <xs:documentation>Kyrgyzstani som.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KHR">
            <xs:annotation>
               <xs:documentation>Cambodian riel.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KMF">
            <xs:annotation>
               <xs:documentation>Comoro franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KPW">
            <xs:annotation>
               <xs:documentation>North Korean won.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KRW">
            <xs:annotation>
               <xs:documentation>South Korean won.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KWD">
            <xs:annotation>
               <xs:documentation>Kuwaiti dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KYD">
            <xs:annotation>
               <xs:documentation>Cayman Islands dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KZT">
            <xs:annotation>
               <xs:documentation>Kazakhstani tenge.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LAK">
            <xs:annotation>
               <xs:documentation>Lao kip.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LBP">
            <xs:annotation>
               <xs:documentation>Lebanese pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LKR">
            <xs:annotation>
               <xs:documentation>Sri Lanka rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LRD">
            <xs:annotation>
               <xs:documentation>Liberian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LSL">
            <xs:annotation>
               <xs:documentation>Lesotho loti.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LTL">
            <xs:annotation>
               <xs:documentation>Lithuanian litas.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LVL">
            <xs:annotation>
               <xs:documentation>Latvian lats.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LYD">
            <xs:annotation>
               <xs:documentation>Libyan dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MAD">
            <xs:annotation>
               <xs:documentation>Moroccan dirham.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MDL">
            <xs:annotation>
               <xs:documentation>Moldovan leu.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MGA">
            <xs:annotation>
               <xs:documentation>Malagasy ariary.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MKD">
            <xs:annotation>
               <xs:documentation>Macedonian denar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MMK">
            <xs:annotation>
               <xs:documentation>Myanma kyat.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MNT">
            <xs:annotation>
               <xs:documentation>Mongolian tugrik.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MOP">
            <xs:annotation>
               <xs:documentation>Macanese pataca.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MRO">
            <xs:annotation>
               <xs:documentation>Mauritanian ouguiya.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MUR">
            <xs:annotation>
               <xs:documentation>Mauritian rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MVR">
            <xs:annotation>
               <xs:documentation>Maldivian rufiyaa.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MWK">
            <xs:annotation>
               <xs:documentation>Malawian kwacha.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MXN">
            <xs:annotation>
               <xs:documentation>Mexican peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MYR">
            <xs:annotation>
               <xs:documentation>Malaysian ringgit.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MZN">
            <xs:annotation>
               <xs:documentation>Mozambican metical.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NAD">
            <xs:annotation>
               <xs:documentation>Namibian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NGN">
            <xs:annotation>
               <xs:documentation>Nigerian naira.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NIO">
            <xs:annotation>
               <xs:documentation>Cordoba oro.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NOK">
            <xs:annotation>
               <xs:documentation>Norwegian krone.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NPR">
            <xs:annotation>
               <xs:documentation>Nepalese rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NZD">
            <xs:annotation>
               <xs:documentation>New Zealand dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="OMR">
            <xs:annotation>
               <xs:documentation>Omani rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PAB">
            <xs:annotation>
               <xs:documentation>Panamanian balboa.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PEN">
            <xs:annotation>
               <xs:documentation>Peruvian nuevo sol.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PGK">
            <xs:annotation>
               <xs:documentation>Papua New Guinean kina.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PHP">
            <xs:annotation>
               <xs:documentation>Philippine peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PKR">
            <xs:annotation>
               <xs:documentation>Pakistani rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PLN">
            <xs:annotation>
               <xs:documentation>Polish zloty.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PYG">
            <xs:annotation>
               <xs:documentation>Paraguayan guaraní.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="QAR">
            <xs:annotation>
               <xs:documentation>Qatari rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RON">
            <xs:annotation>
               <xs:documentation>Romanian new leu.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RSD">
            <xs:annotation>
               <xs:documentation>Serbian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RUB">
            <xs:annotation>
               <xs:documentation>Russian rouble.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RWF">
            <xs:annotation>
               <xs:documentation>Rwandan franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SAR">
            <xs:annotation>
               <xs:documentation>Saudi riyal.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SBD">
            <xs:annotation>
               <xs:documentation>Solomon Islands dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SCR">
            <xs:annotation>
               <xs:documentation>Seychelles rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SDG">
            <xs:annotation>
               <xs:documentation>Sudanese pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SEK">
            <xs:annotation>
               <xs:documentation>Swedish krona/kronor.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SGD">
            <xs:annotation>
               <xs:documentation>Singapore dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SHP">
            <xs:annotation>
               <xs:documentation>Saint Helena pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SLL">
            <xs:annotation>
               <xs:documentation>Sierra Leonean leone.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SOS">
            <xs:annotation>
               <xs:documentation>Somali shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SRD">
            <xs:annotation>
               <xs:documentation>Surinamese dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="STD">
            <xs:annotation>
               <xs:documentation>São Tomé and Príncipe dobra.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SYP">
            <xs:annotation>
               <xs:documentation>Syrian pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SZL">
            <xs:annotation>
               <xs:documentation>Lilangeni.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="THB">
            <xs:annotation>
               <xs:documentation>Thai baht.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TJS">
            <xs:annotation>
               <xs:documentation>Tajikistani somoni.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TMT">
            <xs:annotation>
               <xs:documentation>Turkmenistani manat.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TND">
            <xs:annotation>
               <xs:documentation>Tunisian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TOP">
            <xs:annotation>
               <xs:documentation>Tongan pa'anga.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TRY">
            <xs:annotation>
               <xs:documentation>Turkish lira.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TTD">
            <xs:annotation>
               <xs:documentation>Trinidad and Tobago dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TWD">
            <xs:annotation>
               <xs:documentation>New Taiwan dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TZS">
            <xs:annotation>
               <xs:documentation>Tanzanian shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UAH">
            <xs:annotation>
               <xs:documentation>Ukrainian hryvnia.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UGX">
            <xs:annotation>
               <xs:documentation>Ugandan shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="USD">
            <xs:annotation>
               <xs:documentation>United States dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UYU">
            <xs:annotation>
               <xs:documentation>Uruguayan peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UZS">
            <xs:annotation>
               <xs:documentation>Uzbekistan som.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VEF">
            <xs:annotation>
               <xs:documentation>Venezuelan bolívar fuerte.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VND">
            <xs:annotation>
               <xs:documentation>Vietnamese Dong.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VUV">
            <xs:annotation>
               <xs:documentation>Vanuatu vatu.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="WST">
            <xs:annotation>
               <xs:documentation>Samoan tala.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XAF">
            <xs:annotation>
               <xs:documentation>CFA franc BEAC.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XCD">
            <xs:annotation>
               <xs:documentation>East Caribbean dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XOF">
            <xs:annotation>
               <xs:documentation>CFA Franc BCEAO.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XPF">
            <xs:annotation>
               <xs:documentation>CFP franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="YER">
            <xs:annotation>
               <xs:documentation>Yemeni rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ZAR">
            <xs:annotation>
               <xs:documentation>South African rand.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ZMK">
            <xs:annotation>
               <xs:documentation>Zambian kwacha.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ZWL">
            <xs:annotation>
               <xs:documentation>Zimbabwe dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="DateTimeInterval"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#DateTimeInterval">
      <xs:annotation>
         <xs:documentation>Interval between two date and time points, where the interval includes the start time but excludes end time.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="end"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#DateTimeInterval.end">
            <xs:annotation>
               <xs:documentation>End date and time of this interval.  The end date and time where the interval is defined up to, but excluded.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="start"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#DateTimeInterval.start">
            <xs:annotation>
               <xs:documentation>Start date and time of this interval.  The start date and time is included in the defined interval.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IdentifiedObject"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject">
      <xs:annotation>
         <xs:documentation>This is a root class to provide common identification for all classes needing identification and naming attributes.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in IETF RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="0"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="0"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MarketParticipant"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#MarketParticipant">
      <xs:annotation>
         <xs:documentation>An identification of a party acting in a electricity market business process. This class is used to identify organizations that can participate in market management and/or market operations.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Organisation">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MarketProduct"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProduct">
      <xs:annotation>
         <xs:documentation>A product traded by an RTO (e.g. energy, 10 minute spinning reserve).  Ancillary service product examples include: Regulation, Regulation Up, Regulation Down, Spinning Reserve, Non-Spinning Reserve, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="marketProductType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MarketProductType"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProduct.marketProductType">
            <xs:annotation>
               <xs:documentation>Market product type examples:</xs:documentation>
               <xs:documentation>EN (Energy)</xs:documentation>
               <xs:documentation>RU (Regulation Up)</xs:documentation>
               <xs:documentation>RD (Regulation Dn)</xs:documentation>
               <xs:documentation>SR (Spinning Reserve)</xs:documentation>
               <xs:documentation>NR (Non-Spinning Reserve)</xs:documentation>
               <xs:documentation>RC (RUC)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="MarketProductType"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProductType">
      <xs:annotation>
         <xs:documentation>For example:</xs:documentation>
         <xs:documentation>Energy, Reg Up, Reg Down, Spin Reserve, Nonspin Reserve, RUC, Load Folloing Up, and Load Following Down.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="CO2e">
            <xs:annotation>
               <xs:documentation>A carbon dioxide equivalent is a metric measure used to compare the emissions from various greenhouse gases on the basis of their global-warming potential (GWP), by converting amounts of other gases to the equivalent amount of carbon dioxide with the same global warming potential.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EN">
            <xs:annotation>
               <xs:documentation>Energy generally priced per kWh or MWh.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LFD">
            <xs:annotation>
               <xs:documentation>Load following down (power withdrawal) generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LFU">
            <xs:annotation>
               <xs:documentation>Load following up (power injection) generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NR">
            <xs:annotation>
               <xs:documentation>Non-spinning Reserve or Replacement Reserve generally priced per kWh or MWh.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RC">
            <xs:annotation>
               <xs:documentation>Resources with available capacity for a forward market such as Day Ahead that are awarded due to their need for resource adequacy (i.e. reliability) purposes. RC represents the process for reliability unit commitment.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RD">
            <xs:annotation>
               <xs:documentation>Frequency Regulation Service (energy withdrawal).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="REG">
            <xs:annotation>
               <xs:documentation>Frequency Regulation Service (injection and/or withdrawal).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RMD">
            <xs:annotation>
               <xs:documentation>Regulation Mileage Down.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RMU">
            <xs:annotation>
               <xs:documentation>Regulation Mileage Up.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RPD">
            <xs:annotation>
               <xs:documentation>RampDown: Power withdrawal generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RPU">
            <xs:annotation>
               <xs:documentation>RampUp: Power injection generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RU">
            <xs:annotation>
               <xs:documentation>Frequency Regulation Service (energy injection).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SR">
            <xs:annotation>
               <xs:documentation>Spinning Reserve or Contingency Reserve generally priced per kWh or MWh.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="MarketRole"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#MarketRole">
      <xs:annotation>
         <xs:documentation>The external intended behavior played by a party within the electricity market.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:OrganisationRole">
            <xs:sequence>
               <xs:element name="type"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#MarketRole.type">
                  <xs:annotation>
                     <xs:documentation>The kind of market roles that can be played by parties for given domains within the electricity market. Types are flexible using dataType of string for free-entry of role types.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="MarketType"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#MarketType">
      <xs:annotation>
         <xs:documentation>Market type.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="DAM">
            <xs:annotation>
               <xs:documentation>Day ahead market.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HAM">
            <xs:annotation>
               <xs:documentation>Hour Ahead Market.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RTM">
            <xs:annotation>
               <xs:documentation>Real time market.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RUC">
            <xs:annotation>
               <xs:documentation>Residual Unit Commitment.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Organisation"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#Organisation">
      <xs:annotation>
         <xs:documentation>Organisation that might have roles as utility, contractor, supplier, manufacturer, customer, etc.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:mRID_IdentifiedObject">
            <xs:sequence>
               <xs:element name="Roles"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="m:MarketRole"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#Organisation.Roles">
                  <xs:annotation>
                     <xs:documentation>All roles of this organisation.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrganisationRole"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#OrganisationRole">
      <xs:annotation>
         <xs:documentation>Identifies a way in which an organisation may participate in the utility enterprise (e.g., customer, manufacturer, etc).</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:mRID_IdentifiedObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Pnode" sawsdl:modelReference="https://ucaiug.org/CIM101#Pnode">
      <xs:annotation>
         <xs:documentation>A pricing node is directly associated with a connectivity node.  It is a pricing location for which market participants submit their bids, offers, buy/sell CRRs, and settle.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:mRID_IdentifiedObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PriceDescriptor"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#PriceDescriptor">
      <xs:annotation>
         <xs:documentation>The price of a Commodity during a given time interval may change over time.  For example, a price may be forecasted a year ahead, a month ahead, a day ahead, an hour ahead, and in real time; this is defined using the MarketType. Additionally a price may have one or more components. For example, a locational marginal energy price may be the arithmetic sum of the system price, the congestion price, and the loss price.  The priceType enumeration is used determine if the price is the complete price (priceType="total") or one of potentially many constituent components.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="marketType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MarketType"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#PriceDescriptor.marketType">
            <xs:annotation>
               <xs:documentation>The time frame for the price, using the standard conventions associated with the MarketType enumeration.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="priceType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:PriceTypeKind"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#PriceDescriptor.priceType">
            <xs:annotation>
               <xs:documentation>The "kind" of price being described.  In general, the priceType will either be "total" to signify that the price is the price paid to buy or sell the commodity, sometimes referred to as an "all-in" price, or one of potentially many components.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PriceTypeKind"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#PriceTypeKind">
      <xs:annotation>
         <xs:documentation>Value of this enumeration for different prices include "total" for the complete/full/all-in price, "congestion" for the congestion cost associated with the total price, the "loss" for the loss price associated with the total price, "capacity" for prices related to installed or reserved capacity, "mileage" for use-based accounting, "system" for system-wide/copper-plate prices, and "delivery" for distribution-based prices.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="capacity">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="congestion">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="delivery">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="loss">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="mileage">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="system">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="total">
            <xs:annotation/>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="RegisteredResource"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#RegisteredResource">
      <xs:annotation>
         <xs:documentation>A resource that is registered through the market participant registration system. Examples include generating unit, load, and non-physical generator or load.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:mRID_IdentifiedObject">
            <xs:sequence>
               <xs:element name="MarketParticipant"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:MarketParticipant"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#RegisteredResource.MarketParticipant">
                  <xs:annotation/>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="UnitMultiplier"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#UnitMultiplier">
      <xs:annotation>
         <xs:documentation>The unit multipliers defined for the CIM. When applied to unit symbols, the unit symbol is treated as a derived unit. Regardless of the contents of the unit symbol text, the unit symbol shall be treated as if it were a single-character unit symbol. Unit symbols should not contain multipliers, and it should be left to the multiplier to define the multiple for an entire data type.</xs:documentation>
         <xs:documentation>For example, if a unit symbol is "m2Pers" and the multiplier is "k", then the value is k(m**2/s), and the multiplier applies to the entire final value, not to any individual part of the value. This can be conceptualized by substituting a derived unit symbol for the unit type. If one imagines that the symbol "&amp;#222;" represents the derived unit "m2Pers", then applying the multiplier "k" can be conceptualized simply as "k&amp;#222;".</xs:documentation>
         <xs:documentation>For example, the SI unit for mass is "kg" and not "g".  If the unit symbol is defined as "kg", then the multiplier is applied to "kg" as a whole and does not replace the "k" in front of the "g". In this case, the multiplier of "m" would be used with the unit symbol of "kg" to represent one gram.  As a text string, this violates the instructions in IEC 80000-1. However, because the unit symbol in CIM is treated as a derived unit instead of as an SI unit, it makes more sense to conceptualize the "kg" as if it were replaced by one of the proposed replacements for the SI mass symbol. If one imagines that the "kg" were replaced by a symbol "&amp;#222;", then it is easier to conceptualize the multiplier "m" as creating the proper unit "m&amp;#222;", and not the forbidden unit "mkg".</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="M">
            <xs:annotation>
               <xs:documentation>Mega 10**6.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="k">
            <xs:annotation>
               <xs:documentation>Kilo 10**3.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="none">
            <xs:annotation>
               <xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UnitSymbol"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#UnitSymbol">
      <xs:annotation>
         <xs:documentation>The derived units defined for usage in the CIM. In some cases, the derived unit is equal to an SI unit. Whenever possible, the standard derived symbol is used instead of the formula for the derived unit. For example, the unit symbol Farad is defined as "F" instead of "CPerV". In cases where a standard symbol does not exist for a derived unit, the formula for the unit is used as the unit symbol. For example, density does not have a standard symbol and so it is represented as "kgPerm3". With the exception of the "kg", which is an SI unit, the unit symbols do not contain multipliers and therefore represent the base derived unit to which a multiplier can be applied as a whole.</xs:documentation>
         <xs:documentation>Every unit symbol is treated as an unparseable text as if it were a single-letter symbol. The meaning of each unit symbol is defined by the accompanying descriptive text and not by the text contents of the unit symbol.</xs:documentation>
         <xs:documentation>To allow the widest possible range of serializations without requiring special character handling, several substitutions are made which deviate from the format described in IEC 80000-1. The division symbol "/" is replaced by the letters "Per". Exponents are written in plain text after the unit as "m3" instead of being formatted as "m" with a superscript of 3  or introducing a symbol as in "m^3". The degree symbol "°" is replaced with the letters "deg". Any clarification of the meaning for a substitution is included in the description for the unit symbol.</xs:documentation>
         <xs:documentation>Non-SI units are included in list of unit symbols to allow sources of data to be correctly labelled with their non-SI units (for example, a GPS sensor that is reporting numbers that represent feet instead of meters). This allows software to use the unit symbol information correctly convert and scale the raw data of those sources into SI-based units.</xs:documentation>
         <xs:documentation>The integer values are used for harmonization with IEC 61850.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="W">
            <xs:annotation>
               <xs:documentation>Real power in watts (J/s). Electrical power may have real and reactive components. The real portion of electrical power (I&amp;#178;R or VIcos(phi)), is expressed in Watts. See also apparent power and reactive power.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Wh">
            <xs:annotation>
               <xs:documentation>Real energy in watt hours.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="kg">
            <xs:annotation>
               <xs:documentation>Mass in kilograms. Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="mRID_IdentifiedObject"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject">
      <xs:annotation>
         <xs:documentation>This is a root class to provide common identification for all classes needing identification and naming attributes.</xs:documentation>
         <xs:documentation/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in IETF RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
