der/DemandSideResourceInterface/MarketDERBidOffer/1.0/MarketDERBidOffer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="https://ucaiug.org/2023/MarketDERBidOffer#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ucaiug.org/2023/MarketDERBidOffer#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">
	Copyright 2023 UCAIug

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	https://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	
	See the License for the specific language governing permissions and
	limitations under the License.
</xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:documentation>V1: 2023 Initial Creation</xs:documentation>
   </xs:annotation>
   <xs:element name="MarketDERBidOffer" type="m:MarketDERBidOffer"/>
   <xs:complexType name="MarketDERBidOffer">
      <xs:sequence>
         <xs:element name="DistributedBid"
                     type="m:DistributedBid"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BasicIntervalSchedule"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#BasicIntervalSchedule">
      <xs:annotation>
         <xs:documentation>Schedule of values at points in time.</xs:documentation>
         <xs:documentation/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="startTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#BasicIntervalSchedule.startTime">
            <xs:annotation>
               <xs:documentation>The time for the first time point. The value can be a time of day, not a specific date.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value1Multiplier"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:UnitMultiplier"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#BasicIntervalSchedule.value1Multiplier">
            <xs:annotation>
               <xs:documentation>Multiplier for value1.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value1Unit"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:UnitSymbol"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#BasicIntervalSchedule.value1Unit">
            <xs:annotation>
               <xs:documentation>Value1 units of measure.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Bid" sawsdl:modelReference="https://ucaiug.org/CIM101#Bid">
      <xs:annotation>
         <xs:documentation>Represents both bids to purchase and offers to sell energy or ancillary services in an RTO-sponsored market.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Document">
            <xs:sequence>
               <xs:element name="ProductBids"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           type="m:ProductBid"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#Bid.ProductBids">
                  <xs:annotation>
                     <xs:documentation>A bid comprises one or more product bids of market products</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BidPriceCurve"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#BidPriceCurve">
      <xs:annotation>
         <xs:documentation>Specialized curve that represents an offer to supply services or a bid to consume services where the amount of service is defined on the X-axis and the asking price is defined on the Y1-axis. The amount of service use the xUnit and xMultiplier and the y1 price uses the y1Currency and optionally uses the y1unit and y1Multiplier if different than the xUnit and xMultiplier.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Curve">
            <xs:sequence>
               <xs:element name="y1Currency"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:Currency"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#BidPriceCurve.y1Currency">
                  <xs:annotation>
                     <xs:documentation>Currency for the y1 axis in the BidPriceCurve.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BidPriceSchedule"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#BidPriceSchedule">
      <xs:annotation>
         <xs:documentation>Defines bid schedules to allow a product bid to use specified bid price curves for different time intervals.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:BidPrice_RegularIntervalSchedule">
            <xs:sequence>
               <xs:element name="BidPriceCurve"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:BidPriceCurve"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#BidPriceSchedule.BidPriceCurve">
                  <xs:annotation/>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BidPrice_BasicIntervalSchedule"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#BasicIntervalSchedule">
      <xs:annotation>
         <xs:documentation>Schedule of values at points in time.</xs:documentation>
         <xs:documentation/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="startTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#BasicIntervalSchedule.startTime">
            <xs:annotation>
               <xs:documentation>The time for the first time point. The value can be a time of day, not a specific date.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BidPrice_RegularIntervalSchedule"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#RegularIntervalSchedule">
      <xs:annotation>
         <xs:documentation>The schedule has time points where the time between them is constant.</xs:documentation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:BidPrice_BasicIntervalSchedule">
            <xs:sequence>
               <xs:element name="endTime"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:dateTime"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#RegularIntervalSchedule.endTime">
                  <xs:annotation>
                     <xs:documentation>The time for the last time point.  The value can be a time of day, not a specific date.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BidSelfSched"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#BidSelfSched">
      <xs:annotation>
         <xs:documentation>Defines self schedule values to be used for specified time intervals.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:RegularIntervalSchedule">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="Currency"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#Currency">
      <xs:annotation>
         <xs:documentation>Monetary currencies.  ISO 4217 standard including 3-character currency code.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="AED">
            <xs:annotation>
               <xs:documentation>United Arab Emirates dirham.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AFN">
            <xs:annotation>
               <xs:documentation>Afghan afghani.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ALL">
            <xs:annotation>
               <xs:documentation>Albanian lek.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AMD">
            <xs:annotation>
               <xs:documentation>Armenian dram.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ANG">
            <xs:annotation>
               <xs:documentation>Netherlands Antillean guilder.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AOA">
            <xs:annotation>
               <xs:documentation>Angolan kwanza.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ARS">
            <xs:annotation>
               <xs:documentation>Argentine peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AUD">
            <xs:annotation>
               <xs:documentation>Australian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AWG">
            <xs:annotation>
               <xs:documentation>Aruban florin.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AZN">
            <xs:annotation>
               <xs:documentation>Azerbaijani manat.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BAM">
            <xs:annotation>
               <xs:documentation>Bosnia and Herzegovina convertible mark.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BBD">
            <xs:annotation>
               <xs:documentation>Barbados dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BDT">
            <xs:annotation>
               <xs:documentation>Bangladeshi taka.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BGN">
            <xs:annotation>
               <xs:documentation>Bulgarian lev.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BHD">
            <xs:annotation>
               <xs:documentation>Bahraini dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BIF">
            <xs:annotation>
               <xs:documentation>Burundian franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BMD">
            <xs:annotation>
               <xs:documentation>Bermudian dollar (customarily known as Bermuda dollar).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BND">
            <xs:annotation>
               <xs:documentation>Brunei dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BOB">
            <xs:annotation>
               <xs:documentation>Boliviano.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BOV">
            <xs:annotation>
               <xs:documentation>Bolivian Mvdol (funds code).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BRL">
            <xs:annotation>
               <xs:documentation>Brazilian real.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BSD">
            <xs:annotation>
               <xs:documentation>Bahamian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BTN">
            <xs:annotation>
               <xs:documentation>Bhutanese ngultrum.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BWP">
            <xs:annotation>
               <xs:documentation>Botswana pula.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BYR">
            <xs:annotation>
               <xs:documentation>Belarusian ruble.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BZD">
            <xs:annotation>
               <xs:documentation>Belize dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CAD">
            <xs:annotation>
               <xs:documentation>Canadian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CDF">
            <xs:annotation>
               <xs:documentation>Congolese franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CHF">
            <xs:annotation>
               <xs:documentation>Swiss franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CLF">
            <xs:annotation>
               <xs:documentation>Unidad de Fomento (funds code), Chile.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CLP">
            <xs:annotation>
               <xs:documentation>Chilean peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CNY">
            <xs:annotation>
               <xs:documentation>Chinese yuan.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="COP">
            <xs:annotation>
               <xs:documentation>Colombian peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="COU">
            <xs:annotation>
               <xs:documentation>Unidad de Valor Real.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CRC">
            <xs:annotation>
               <xs:documentation>Costa Rican colon.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CUC">
            <xs:annotation>
               <xs:documentation>Cuban convertible peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CUP">
            <xs:annotation>
               <xs:documentation>Cuban peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CVE">
            <xs:annotation>
               <xs:documentation>Cape Verde escudo.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CZK">
            <xs:annotation>
               <xs:documentation>Czech koruna.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DJF">
            <xs:annotation>
               <xs:documentation>Djiboutian franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DKK">
            <xs:annotation>
               <xs:documentation>Danish krone.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DOP">
            <xs:annotation>
               <xs:documentation>Dominican peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DZD">
            <xs:annotation>
               <xs:documentation>Algerian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EEK">
            <xs:annotation>
               <xs:documentation>Estonian kroon.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EGP">
            <xs:annotation>
               <xs:documentation>Egyptian pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ERN">
            <xs:annotation>
               <xs:documentation>Eritrean nakfa.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ETB">
            <xs:annotation>
               <xs:documentation>Ethiopian birr.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EUR">
            <xs:annotation>
               <xs:documentation>Euro.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="FJD">
            <xs:annotation>
               <xs:documentation>Fiji dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="FKP">
            <xs:annotation>
               <xs:documentation>Falkland Islands pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GBP">
            <xs:annotation>
               <xs:documentation>Pound sterling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GEL">
            <xs:annotation>
               <xs:documentation>Georgian lari.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GHS">
            <xs:annotation>
               <xs:documentation>Ghanaian cedi.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GIP">
            <xs:annotation>
               <xs:documentation>Gibraltar pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GMD">
            <xs:annotation>
               <xs:documentation>Gambian dalasi.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GNF">
            <xs:annotation>
               <xs:documentation>Guinean franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GTQ">
            <xs:annotation>
               <xs:documentation>Guatemalan quetzal.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="GYD">
            <xs:annotation>
               <xs:documentation>Guyanese dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HKD">
            <xs:annotation>
               <xs:documentation>Hong Kong dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HNL">
            <xs:annotation>
               <xs:documentation>Honduran lempira.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HRK">
            <xs:annotation>
               <xs:documentation>Croatian kuna.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HTG">
            <xs:annotation>
               <xs:documentation>Haitian gourde.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="HUF">
            <xs:annotation>
               <xs:documentation>Hungarian forint.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IDR">
            <xs:annotation>
               <xs:documentation>Indonesian rupiah.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ILS">
            <xs:annotation>
               <xs:documentation>Israeli new sheqel.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="INR">
            <xs:annotation>
               <xs:documentation>Indian rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IQD">
            <xs:annotation>
               <xs:documentation>Iraqi dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IRR">
            <xs:annotation>
               <xs:documentation>Iranian rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ISK">
            <xs:annotation>
               <xs:documentation>Icelandic króna.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="JMD">
            <xs:annotation>
               <xs:documentation>Jamaican dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="JOD">
            <xs:annotation>
               <xs:documentation>Jordanian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="JPY">
            <xs:annotation>
               <xs:documentation>Japanese yen.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KES">
            <xs:annotation>
               <xs:documentation>Kenyan shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KGS">
            <xs:annotation>
               <xs:documentation>Kyrgyzstani som.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KHR">
            <xs:annotation>
               <xs:documentation>Cambodian riel.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KMF">
            <xs:annotation>
               <xs:documentation>Comoro franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KPW">
            <xs:annotation>
               <xs:documentation>North Korean won.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KRW">
            <xs:annotation>
               <xs:documentation>South Korean won.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KWD">
            <xs:annotation>
               <xs:documentation>Kuwaiti dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KYD">
            <xs:annotation>
               <xs:documentation>Cayman Islands dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KZT">
            <xs:annotation>
               <xs:documentation>Kazakhstani tenge.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LAK">
            <xs:annotation>
               <xs:documentation>Lao kip.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LBP">
            <xs:annotation>
               <xs:documentation>Lebanese pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LKR">
            <xs:annotation>
               <xs:documentation>Sri Lanka rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LRD">
            <xs:annotation>
               <xs:documentation>Liberian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LSL">
            <xs:annotation>
               <xs:documentation>Lesotho loti.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LTL">
            <xs:annotation>
               <xs:documentation>Lithuanian litas.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LVL">
            <xs:annotation>
               <xs:documentation>Latvian lats.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LYD">
            <xs:annotation>
               <xs:documentation>Libyan dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MAD">
            <xs:annotation>
               <xs:documentation>Moroccan dirham.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MDL">
            <xs:annotation>
               <xs:documentation>Moldovan leu.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MGA">
            <xs:annotation>
               <xs:documentation>Malagasy ariary.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MKD">
            <xs:annotation>
               <xs:documentation>Macedonian denar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MMK">
            <xs:annotation>
               <xs:documentation>Myanma kyat.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MNT">
            <xs:annotation>
               <xs:documentation>Mongolian tugrik.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MOP">
            <xs:annotation>
               <xs:documentation>Macanese pataca.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MRO">
            <xs:annotation>
               <xs:documentation>Mauritanian ouguiya.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MUR">
            <xs:annotation>
               <xs:documentation>Mauritian rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MVR">
            <xs:annotation>
               <xs:documentation>Maldivian rufiyaa.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MWK">
            <xs:annotation>
               <xs:documentation>Malawian kwacha.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MXN">
            <xs:annotation>
               <xs:documentation>Mexican peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MYR">
            <xs:annotation>
               <xs:documentation>Malaysian ringgit.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="MZN">
            <xs:annotation>
               <xs:documentation>Mozambican metical.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NAD">
            <xs:annotation>
               <xs:documentation>Namibian dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NGN">
            <xs:annotation>
               <xs:documentation>Nigerian naira.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NIO">
            <xs:annotation>
               <xs:documentation>Cordoba oro.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NOK">
            <xs:annotation>
               <xs:documentation>Norwegian krone.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NPR">
            <xs:annotation>
               <xs:documentation>Nepalese rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NZD">
            <xs:annotation>
               <xs:documentation>New Zealand dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="OMR">
            <xs:annotation>
               <xs:documentation>Omani rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PAB">
            <xs:annotation>
               <xs:documentation>Panamanian balboa.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PEN">
            <xs:annotation>
               <xs:documentation>Peruvian nuevo sol.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PGK">
            <xs:annotation>
               <xs:documentation>Papua New Guinean kina.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PHP">
            <xs:annotation>
               <xs:documentation>Philippine peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PKR">
            <xs:annotation>
               <xs:documentation>Pakistani rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PLN">
            <xs:annotation>
               <xs:documentation>Polish zloty.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PYG">
            <xs:annotation>
               <xs:documentation>Paraguayan guaraní.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="QAR">
            <xs:annotation>
               <xs:documentation>Qatari rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RON">
            <xs:annotation>
               <xs:documentation>Romanian new leu.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RSD">
            <xs:annotation>
               <xs:documentation>Serbian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RUB">
            <xs:annotation>
               <xs:documentation>Russian rouble.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RWF">
            <xs:annotation>
               <xs:documentation>Rwandan franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SAR">
            <xs:annotation>
               <xs:documentation>Saudi riyal.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SBD">
            <xs:annotation>
               <xs:documentation>Solomon Islands dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SCR">
            <xs:annotation>
               <xs:documentation>Seychelles rupee.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SDG">
            <xs:annotation>
               <xs:documentation>Sudanese pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SEK">
            <xs:annotation>
               <xs:documentation>Swedish krona/kronor.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SGD">
            <xs:annotation>
               <xs:documentation>Singapore dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SHP">
            <xs:annotation>
               <xs:documentation>Saint Helena pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SLL">
            <xs:annotation>
               <xs:documentation>Sierra Leonean leone.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SOS">
            <xs:annotation>
               <xs:documentation>Somali shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SRD">
            <xs:annotation>
               <xs:documentation>Surinamese dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="STD">
            <xs:annotation>
               <xs:documentation>São Tomé and Príncipe dobra.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SYP">
            <xs:annotation>
               <xs:documentation>Syrian pound.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SZL">
            <xs:annotation>
               <xs:documentation>Lilangeni.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="THB">
            <xs:annotation>
               <xs:documentation>Thai baht.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TJS">
            <xs:annotation>
               <xs:documentation>Tajikistani somoni.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TMT">
            <xs:annotation>
               <xs:documentation>Turkmenistani manat.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TND">
            <xs:annotation>
               <xs:documentation>Tunisian dinar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TOP">
            <xs:annotation>
               <xs:documentation>Tongan pa'anga.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TRY">
            <xs:annotation>
               <xs:documentation>Turkish lira.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TTD">
            <xs:annotation>
               <xs:documentation>Trinidad and Tobago dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TWD">
            <xs:annotation>
               <xs:documentation>New Taiwan dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TZS">
            <xs:annotation>
               <xs:documentation>Tanzanian shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UAH">
            <xs:annotation>
               <xs:documentation>Ukrainian hryvnia.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UGX">
            <xs:annotation>
               <xs:documentation>Ugandan shilling.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="USD">
            <xs:annotation>
               <xs:documentation>United States dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UYU">
            <xs:annotation>
               <xs:documentation>Uruguayan peso.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="UZS">
            <xs:annotation>
               <xs:documentation>Uzbekistan som.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VEF">
            <xs:annotation>
               <xs:documentation>Venezuelan bolívar fuerte.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VND">
            <xs:annotation>
               <xs:documentation>Vietnamese Dong.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VUV">
            <xs:annotation>
               <xs:documentation>Vanuatu vatu.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="WST">
            <xs:annotation>
               <xs:documentation>Samoan tala.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XAF">
            <xs:annotation>
               <xs:documentation>CFA franc BEAC.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XCD">
            <xs:annotation>
               <xs:documentation>East Caribbean dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XOF">
            <xs:annotation>
               <xs:documentation>CFA Franc BCEAO.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="XPF">
            <xs:annotation>
               <xs:documentation>CFP franc.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="YER">
            <xs:annotation>
               <xs:documentation>Yemeni rial.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ZAR">
            <xs:annotation>
               <xs:documentation>South African rand.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ZMK">
            <xs:annotation>
               <xs:documentation>Zambian kwacha.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ZWL">
            <xs:annotation>
               <xs:documentation>Zimbabwe dollar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Curve" sawsdl:modelReference="https://ucaiug.org/CIM101#Curve">
      <xs:annotation>
         <xs:documentation>A multi-purpose curve or functional relationship between an independent variable (X-axis) and dependent (Y-axis) variables.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="xMultiplier"
                     minOccurs="0"
                     maxOccurs="1"
                     type="m:UnitMultiplier"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#Curve.xMultiplier">
            <xs:annotation>
               <xs:documentation>Multiplier for X-axis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="xUnit"
                     minOccurs="0"
                     maxOccurs="1"
                     type="m:UnitSymbol"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#Curve.xUnit">
            <xs:annotation>
               <xs:documentation>The X-axis units of measure.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CurveDatas"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CurveData"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#Curve.CurveDatas">
            <xs:annotation>
               <xs:documentation>The point data values that define this curve.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CurveData"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#CurveData">
      <xs:annotation>
         <xs:documentation>Multi-purpose data points for defining a curve. The use of this generic class is discouraged if a more specific class can be used to specify the X and Y axis values along with their specific data types.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="xvalue"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#CurveData.xvalue">
            <xs:annotation>
               <xs:documentation>The data value of the X-axis variable, depending on the X-axis units.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="y1value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#CurveData.y1value">
            <xs:annotation>
               <xs:documentation>The data value of the  first Y-axis variable, depending on the Y-axis units.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DistributedBid"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#DistributedBid">
      <xs:annotation>
         <xs:documentation>A distribution connected resource's offer to supply energy or associated energy services  or a bid to consume energy or associated energy services.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ResourceBid">
            <xs:sequence>
               <xs:element name="scheduleType"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:ScheduleKind"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#DistributedBid.scheduleType">
                  <xs:annotation>
                     <xs:documentation>ScheduleType documents two key features for a specific resource operating mode: (a) the energy flow convention for a positive number as either production or consumption of service and (b) the sense of how the bid/offer amount is used as either a target or setpoint or as a relative change to a defined level.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegisteredDistributedResource"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:RegisteredDistributedResource"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#DistributedBid.RegisteredDistributedResource">
                  <xs:annotation/>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Document"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#Document">
      <xs:annotation>
         <xs:documentation>Parent class for different groupings of information collected and managed as a part of a business process. It will frequently contain references to other objects, such as assets, people and power system resources.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="comment"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#Document.comment">
                  <xs:annotation>
                     <xs:documentation>Free text comment.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="createdDateTime"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:dateTime"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#Document.createdDateTime">
                  <xs:annotation>
                     <xs:documentation>Date and time that this document was created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="lastModifiedDateTime"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:dateTime"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#Document.lastModifiedDateTime">
                  <xs:annotation>
                     <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifiedObject"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject">
      <xs:annotation>
         <xs:documentation>This is a root class to provide common identification for all classes needing identification and naming attributes.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in IETF RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MarketProduct"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProduct">
      <xs:annotation>
         <xs:documentation>A product traded by an RTO (e.g. energy, 10 minute spinning reserve).  Ancillary service product examples include: Regulation, Regulation Up, Regulation Down, Spinning Reserve, Non-Spinning Reserve, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="marketProductType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MarketProductType"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProduct.marketProductType">
            <xs:annotation>
               <xs:documentation>Market product type examples:</xs:documentation>
               <xs:documentation>EN (Energy)</xs:documentation>
               <xs:documentation>RU (Regulation Up)</xs:documentation>
               <xs:documentation>RD (Regulation Dn)</xs:documentation>
               <xs:documentation>SR (Spinning Reserve)</xs:documentation>
               <xs:documentation>NR (Non-Spinning Reserve)</xs:documentation>
               <xs:documentation>RC (RUC)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="MarketProductSelfSchedType"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProductSelfSchedType">
      <xs:annotation>
         <xs:documentation>Market product self schedule bid types.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="PT">
            <xs:annotation>
               <xs:documentation>Price taker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MarketProductType"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#MarketProductType">
      <xs:annotation>
         <xs:documentation>For example:</xs:documentation>
         <xs:documentation>Energy, Reg Up, Reg Down, Spin Reserve, Nonspin Reserve, RUC, Load Folloing Up, and Load Following Down.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="CO2e">
            <xs:annotation>
               <xs:documentation>A carbon dioxide equivalent is a metric measure used to compare the emissions from various greenhouse gases on the basis of their global-warming potential (GWP), by converting amounts of other gases to the equivalent amount of carbon dioxide with the same global warming potential.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="EN">
            <xs:annotation>
               <xs:documentation>Energy generally priced per kWh or MWh.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LFD">
            <xs:annotation>
               <xs:documentation>Load following down (power withdrawal) generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LFU">
            <xs:annotation>
               <xs:documentation>Load following up (power injection) generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NR">
            <xs:annotation>
               <xs:documentation>Non-spinning Reserve or Replacement Reserve generally priced per kWh or MWh.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RC">
            <xs:annotation>
               <xs:documentation>Resources with available capacity for a forward market such as Day Ahead that are awarded due to their need for resource adequacy (i.e. reliability) purposes. RC represents the process for reliability unit commitment.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RD">
            <xs:annotation>
               <xs:documentation>Frequency Regulation Service (energy withdrawal).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="REG">
            <xs:annotation>
               <xs:documentation>Frequency Regulation Service (injection and/or withdrawal).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RMD">
            <xs:annotation>
               <xs:documentation>Regulation Mileage Down.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RMU">
            <xs:annotation>
               <xs:documentation>Regulation Mileage Up.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RPD">
            <xs:annotation>
               <xs:documentation>RampDown: Power withdrawal generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RPU">
            <xs:annotation>
               <xs:documentation>RampUp: Power injection generally priced per kW or MW.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RU">
            <xs:annotation>
               <xs:documentation>Frequency Regulation Service (energy injection).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="SR">
            <xs:annotation>
               <xs:documentation>Spinning Reserve or Contingency Reserve generally priced per kWh or MWh.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="ProductBid"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#ProductBid">
      <xs:annotation>
         <xs:documentation>Component of a bid that pertains to one market product.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BidSchedule"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="m:BidPriceSchedule"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#ProductBid.BidSchedule">
            <xs:annotation/>
         </xs:element>
         <xs:element name="BidSelfSched"
                     minOccurs="0"
                     maxOccurs="1"
                     type="m:BidSelfSched"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#ProductBid.BidSelfSched">
            <xs:annotation/>
         </xs:element>
         <xs:element name="MarketProduct"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MarketProduct"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#ProductBid.MarketProduct">
            <xs:annotation/>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegisteredDistributedResource"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#RegisteredDistributedResource">
      <xs:annotation>
         <xs:documentation>A registered resource that represents a distributed energy resource, such as a micro-generator, fuel cell, photo-voltaic energy source, etc.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegularIntervalSchedule"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#RegularIntervalSchedule">
      <xs:annotation>
         <xs:documentation>The schedule has time points where the time between them is constant.</xs:documentation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:BasicIntervalSchedule">
            <xs:sequence>
               <xs:element name="endTime"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:dateTime"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#RegularIntervalSchedule.endTime">
                  <xs:annotation>
                     <xs:documentation>The time for the last time point.  The value can be a time of day, not a specific date.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TimePoints"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           type="m:RegularTimePoint"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#RegularIntervalSchedule.TimePoints">
                  <xs:annotation>
                     <xs:documentation>The regular interval time point data values that define this schedule.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="timeStep"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:Seconds"
                           sawsdl:modelReference="https://ucaiug.org/CIM101#RegularIntervalSchedule.timeStep">
                  <xs:annotation>
                     <xs:documentation>The time between each pair of subsequent regular time points in sequence order.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegularTimePoint"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#RegularTimePoint">
      <xs:annotation>
         <xs:documentation>Time point for a schedule where the time between the consecutive points is constant.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="sequenceNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:integer"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#RegularTimePoint.sequenceNumber">
            <xs:annotation>
               <xs:documentation>The position of the regular time point in the sequence. Note that time points don't have to be sequential, i.e. time points may be omitted. The actual time for a RegularTimePoint is computed by multiplying the associated regular interval schedule's time step with the regular time point sequence number and adding the associated schedules start time. To specify values for the start time, use sequence number 0.  The sequence number cannot be negative.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value1"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#RegularTimePoint.value1">
            <xs:annotation>
               <xs:documentation>The first value at the time. The meaning of the value is defined by the derived type of the associated schedule.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResourceBid"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#ResourceBid">
      <xs:annotation>
         <xs:documentation>Energy bid for generation, load, or virtual type for the whole of the market-trading period (i.e., one day in day ahead market or one hour in the real time market).</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Bid">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ScheduleKind"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#ScheduleKind">
      <xs:annotation>
         <xs:documentation>ScheduleKind is an enumeration that documents two key features for a specific DER operating mode: (a) the energy flow convention for a positive number as either production or consumption of service and (b) the sense of how the bid/offer amount is used as either a target or setpoint or as a relative change to a defined level.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="generation">
            <xs:annotation>
               <xs:documentation>The resource operates as a generation resource, where a positive amount corresponds to an injection of energy and/or grid support services to the grid.  The amount of energy is an absolute level understood to be a production setpoint.  Negative values are acceptable and represent an energy withdrawal setpoint.  For energy storage resources, a positive amount represents a setpoint in the discharging state.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="load">
            <xs:annotation>
               <xs:documentation>The resource operates as a load resource, where a positive amount corresponds to a withdrawal of energy and/or support services from the grid.  The amount of energy is an absolute level understood to be a consumption setpoint.  Negative values are acceptable and represent an energy injection setpoint. For energy storage resources, a positive amount represents a setpoint in the charging state.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="loadIncrease">
            <xs:annotation>
               <xs:documentation>The resource operates as a variable load, where a positive amount corresponds to a relative load increase.  The level is relative, generally as an upward offset to a reference level such as the current consumption or a calculated baseline consumption. Negative values are acceptable and represent a load reduction offset.  For energy storage resources, a positive amount represents a faster rate of charge, a state change from discharging (or offline) to charge, or a slower rate of discharge.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="loadReduction">
            <xs:annotation>
               <xs:documentation>The resource operates as a curtailable load, where a positive amount corresponds to a relative load reduction.  The level is relative, generally as an downward offset to a reference level such as the current consumption or a calculated baseline consumption.  Negative values are acceptable and represent a load increase offset.  For energy storage resources, a positive amount represents a slower rate of charge, a state change from charging (or offline) to discharging, or a faster rate of discharge.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Seconds"
                   sawsdl:modelReference="https://ucaiug.org/CIM101#Seconds">
      <xs:annotation>
         <xs:documentation>Time, in seconds.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="unit"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#Seconds.unit">
            <xs:annotation/>
            <xs:simpleType sawsdl:modelReference="https://ucaiug.org/CIM101#UnitSymbol">
               <xs:restriction base="xs:string">
                  <xs:enumeration value="s">
                     <xs:annotation>
                        <xs:documentation>Time in seconds.</xs:documentation>
                     </xs:annotation>
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="https://ucaiug.org/CIM101#Seconds.value">
            <xs:annotation>
               <xs:documentation>Time, in seconds</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="UnitMultiplier"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#UnitMultiplier">
      <xs:annotation>
         <xs:documentation>The unit multipliers defined for the CIM. When applied to unit symbols, the unit symbol is treated as a derived unit. Regardless of the contents of the unit symbol text, the unit symbol shall be treated as if it were a single-character unit symbol. Unit symbols should not contain multipliers, and it should be left to the multiplier to define the multiple for an entire data type.</xs:documentation>
         <xs:documentation>For example, if a unit symbol is "m2Pers" and the multiplier is "k", then the value is k(m**2/s), and the multiplier applies to the entire final value, not to any individual part of the value. This can be conceptualized by substituting a derived unit symbol for the unit type. If one imagines that the symbol "&amp;#222;" represents the derived unit "m2Pers", then applying the multiplier "k" can be conceptualized simply as "k&amp;#222;".</xs:documentation>
         <xs:documentation>For example, the SI unit for mass is "kg" and not "g".  If the unit symbol is defined as "kg", then the multiplier is applied to "kg" as a whole and does not replace the "k" in front of the "g". In this case, the multiplier of "m" would be used with the unit symbol of "kg" to represent one gram.  As a text string, this violates the instructions in IEC 80000-1. However, because the unit symbol in CIM is treated as a derived unit instead of as an SI unit, it makes more sense to conceptualize the "kg" as if it were replaced by one of the proposed replacements for the SI mass symbol. If one imagines that the "kg" were replaced by a symbol "&amp;#222;", then it is easier to conceptualize the multiplier "m" as creating the proper unit "m&amp;#222;", and not the forbidden unit "mkg".</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="M">
            <xs:annotation>
               <xs:documentation>Mega 10**6.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="k">
            <xs:annotation>
               <xs:documentation>Kilo 10**3.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="none">
            <xs:annotation>
               <xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UnitSymbol"
                  sawsdl:modelReference="https://ucaiug.org/CIM101#UnitSymbol">
      <xs:annotation>
         <xs:documentation>The derived units defined for usage in the CIM. In some cases, the derived unit is equal to an SI unit. Whenever possible, the standard derived symbol is used instead of the formula for the derived unit. For example, the unit symbol Farad is defined as "F" instead of "CPerV". In cases where a standard symbol does not exist for a derived unit, the formula for the unit is used as the unit symbol. For example, density does not have a standard symbol and so it is represented as "kgPerm3". With the exception of the "kg", which is an SI unit, the unit symbols do not contain multipliers and therefore represent the base derived unit to which a multiplier can be applied as a whole.</xs:documentation>
         <xs:documentation>Every unit symbol is treated as an unparseable text as if it were a single-letter symbol. The meaning of each unit symbol is defined by the accompanying descriptive text and not by the text contents of the unit symbol.</xs:documentation>
         <xs:documentation>To allow the widest possible range of serializations without requiring special character handling, several substitutions are made which deviate from the format described in IEC 80000-1. The division symbol "/" is replaced by the letters "Per". Exponents are written in plain text after the unit as "m3" instead of being formatted as "m" with a superscript of 3  or introducing a symbol as in "m^3". The degree symbol "°" is replaced with the letters "deg". Any clarification of the meaning for a substitution is included in the description for the unit symbol.</xs:documentation>
         <xs:documentation>Non-SI units are included in list of unit symbols to allow sources of data to be correctly labelled with their non-SI units (for example, a GPS sensor that is reporting numbers that represent feet instead of meters). This allows software to use the unit symbol information correctly convert and scale the raw data of those sources into SI-based units.</xs:documentation>
         <xs:documentation>The integer values are used for harmonization with IEC 61850.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="W">
            <xs:annotation>
               <xs:documentation>Real power in watts (J/s). Electrical power may have real and reactive components. The real portion of electrical power (I&amp;#178;R or VIcos(phi)), is expressed in Watts. See also apparent power and reactive power.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Wh">
            <xs:annotation>
               <xs:documentation>Real energy in watt hours.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="kg">
            <xs:annotation>
               <xs:documentation>Mass in kilograms. Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
